* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    position: relative;

}

a {
    text-decoration: none;
    transition: 300ms;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    width: 100%;
    height: 6rem;
    background-color: #803edd;


    #btnMenu {
        appearance: none;
        border: none;
        background-color: transparent;
        display: none;

        img {
            width: 100%;
            display: block;
        }

    }

    .topbar {
        width: 64rem;
        height: 2rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .social {
            display: flex;

            ul {
                display: flex;
                gap: 1rem;

                li {
                    list-style-type: none;
                }
            }
        }
    }

    nav {
        width: 100%rem;
        height: 4rem;
        background-color: #803edd;
        display: flex;
        justify-content: center;

        ul {
            height: 4rem;
            display: flex;
            align-items: center;

            li {
                list-style-type: none;

                a {
                    height: 4rem;
                    display: flex;
                    align-items: center;
                    padding: 0 1rem;
                    color: black;
                    text-transform: uppercase;

                    &:hover {
                        background-color: black;
                        color: #803edd;
                    }

                }

                align-self: hover;
            }
        }

    }
}

.menu {
    width: fit-content;
    display: flex;
    height: 4rem;
    align-items: center;

    li {
        list-style-type: none;

        a {
            display: flex;
            padding: 1rem;
            justify-content: center;
            align-items: center;
            color: #fafafa;
            text-decoration: none;

            &:hover {
                color: goldenrod;
            }
        }
    }
}


main {
    width: 1024px;
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;

    section {
        border: 1px solid #803edd;
        border-radius: 1rem;
        padding: 1rem;
    }

    .um {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;

        div {
            border: 1px solid #803edd;
            ;
            padding: 1rem;
            min-height: 300px;
            background-color: #803edd;
        }
    }

    .dois {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;

        div {
            border: 1px solid #803edd;
            padding: 1rem;
            min-height: 200px;
            background-color: #803edd;
        }
    }
}

#home,
#sobre {
    width: 100%;
    height: 80vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;

    .conteudo {
        width: 64rem;
        margin: 0 auto;
        display: flex;
        align-items: center;

        .texto {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            color: #803edd;


            h1 {
                font-size: 6rem;
                font-weight: 100;
                text-align: center;
                color: #eef7f7;
            }

            h2 {
                font-size: 2rem;
                font-weight: 300;
                text-align: center;
            }

            .cta {
                display: flex;
                border: 1px solid #803edd;
                width: 50%;
                height: 3rem;
                border-radius: 2rem;
                justify-content: center;
                text-align: center;
                justify-content: center;
                align-items: center;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                background-color: #803edd;
                color: black;

                &:hover {
                    border: 1px solid #803edd;
                    background-color: white;
                    color: #803edd;
                }
            }
        }

        .foto {
            width: 30rem;
            height: 30rem;
            background-color: #803edd;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: center;
                object-position: center;

            }
        }
    }
}

#trabalhos {
    width: 100%;
    background-color: black;
    background-image: black;

    .cards {
        width: 64rem;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;


        .card {
            width: 14rem;
            border: 1px solid #000000;
            padding: 1rem;
            border-radius: .5rem;
            background-color: #803edde1;
            display: flex;
            flex-direction: column;

            h3 {
                text-align: center;
            }

            .imagem {
                width: 100%;
                aspect-ratio: 1/1;
                background-color: #000000;
                overflow: hidden;

                img {
                    width: 100%;

                }
            }

            .btn {
                width: 100%;
                height: 2rem;
                border: 1px solid #803edd;
                border-radius: .50rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: black;
                color: #000000;
                font-family: sans-serif;
                box-shadow: 5px 5px 8px #967cdf;

                &:hover {
                    box-shadow: 0 0 8px #cfadf3;
                    background-color: #000000;
                    color: #803edd;
                }
            }
        }
    }
}

#sobre {
    background-color: #000000;

    .conteudo {
        flex-direction: row-reverse;
        gap: 1rem;
    }
}

#contatos {
    background-color: black;
    padding: 4rem 0;

    .conteudo {
        width: 64rem;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        color: #803edd;

        h2 {
            width: 100%;
            font-size: 2rem;
            font-weight: 300;
            text-align: center;
            padding-bottom: 1rem;
            color: #803edd;
        }

        .texto {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            color: #803edd;

            a {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                text-decoration: none;
                display: flex;
                width: fit-content;
                padding: 0.5rem;
                background-color: #803edd;
                border-radius: 2rem;
                gap: 0.5rem;
                color: black;

            }
        }

        .formulario {
            width: 45%;

            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.25rem;


                label {
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }

                input[type="text"],
                input[type="email"],
                input[type="tel"] {
                    width: 100%;
                    height: 2rem;
                    padding: 0.05rem;
                }

                textarea {
                    width: 100%;
                    height: 4rem;
                    padding: o o.5rem;
                }

                .btns {
                    width: 100%;
                    display: flex;
                    gap: 0.25rem;

                    button {
                        width: 50%;
                        height: 2rem;
                        border: nome;
                        background-color: #803edd;
                        color: black;

                        &:hover {
                            background-color: blue;
                            color: #bbbbb7;
                        }
                    }
                }
            }
        }
    }
}

/*modal*/
.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: #00000080;
    backdrop-filter: blur(8px);

}

footer {
    width: 100%;
    height: 3rem;
    background-color: #803edd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fafafa;

    p {
        color: #f0f8ff;
    }
}

.modal {
    width: 100%;
    height: 100dvh;
    background-color: #c4bcbcc0;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    display: none;

    .conteudo {
        width: 42rem;
        height: 32rem;
        background-color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1rem;
        border-radius: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        color: #803edd;

        .foto {
            width: 100%;
            background-color: #803edd;
            grid-row: span 4;
            grid-column: span 2;
        }

        .fechar {
            width: 2rem;
            height: 2rem;
            position: absolute;
            top: -1rem;
            right: -1rem;
            background-color: #f45959;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.75rem;
            color: #eef7f7;
            cursor: pointer;
        }
    }
}

.show {
    display: flex !important;
}

@media(max-width: 1024px) {
    main {
        width: 100%;
    }
}

@media(max-width: 768px) {
    header {
        height: 4rem;
        justify-content: end;

        #btnMenu {
            display: flex;
            height: 4rem;
            padding: 1rem;
        }

        .menu {
            flex-direction: column;
            background-color: #1b1b84;
            height: 18rem;
            position: absolute;
            top: 4rem;
            display: none;

            a {
                height: 3rem;
                width: 100%;
                display: flex;

                &:hover {
                    background-color: #111158;
                }
            }

        }
    }

    main {
        min-height: 100dvh;

        .um {
            grid-template-columns: 1fr;
        }
    }

    main .dois {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 425px) {
    main .dois {
        grid-template-columns: 1fr;
    }
}